
.reviews_wrap {
  background-color: $_bordo;
  width: 100%;
  // position: relative;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}
.reviews_wrap_img {
  width: 50%;
}
.reviews_wrap_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.reviews_card {
  width: 50%;
  position: relative;
}
.reviews_text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  // margin: 80px 100px 0;
  display: flex;
  flex-direction: column;
  // width: 30%;
}
.reviews_text p {
  padding: 10px 0;
  text-align: center;
  font-family: "Cardo";
  font-weight: 400;
  text-transform: capitalize;
  font-size: $_24px;
  color: $_white;
}

.reviews_text-item p {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
  font-size: $_13px;
  color: $_white;
  // margin-bottom: 116px;
}
